In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])

In [5]:
df

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
b  0.546500 -2.440004 -0.580505  0.359281
c -0.587729  2.653998  0.029560 -0.633547
d  0.863062 -0.160468 -0.630913 -0.734411
e  0.217760  0.769242 -0.015238 -0.200961

In [6]:
df>0

       x      y      z      w
a  False  False   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False  False
e   True   True  False  False

In [7]:
df

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
b  0.546500 -2.440004 -0.580505  0.359281
c -0.587729  2.653998  0.029560 -0.633547
d  0.863062 -0.160468 -0.630913 -0.734411
e  0.217760  0.769242 -0.015238 -0.200961

In [8]:
df[df['x']>0]

          x         y         z         w
b  0.546500 -2.440004 -0.580505  0.359281
d  0.863062 -0.160468 -0.630913 -0.734411
e  0.217760  0.769242 -0.015238 -0.200961

In [9]:
df[df['x']<0]

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
c -0.587729  2.653998  0.029560 -0.633547

In [10]:
df[df['w']>0]['x']

a   -0.83047
b    0.54650
Name: x, dtype: float64

In [11]:
df

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
b  0.546500 -2.440004 -0.580505  0.359281
c -0.587729  2.653998  0.029560 -0.633547
d  0.863062 -0.160468 -0.630913 -0.734411
e  0.217760  0.769242 -0.015238 -0.200961

In [12]:
df[(df['x']>1) | (df['y']<0)]

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
b  0.546500 -2.440004 -0.580505  0.359281
d  0.863062 -0.160468 -0.630913 -0.734411

In [13]:
df.reset_index()

  index         x         y         z         w
0     a -0.830470 -0.086390  0.350443  0.162806
1     b  0.546500 -2.440004 -0.580505  0.359281
2     c -0.587729  2.653998  0.029560 -0.633547
3     d  0.863062 -0.160468 -0.630913 -0.734411
4     e  0.217760  0.769242 -0.015238 -0.200961

In [14]:
newind ='CA NY WY OR CO'.split()

In [15]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [16]:
df['states']= newind

In [17]:
df

          x         y         z         w states
a -0.830470 -0.086390  0.350443  0.162806     CA
b  0.546500 -2.440004 -0.580505  0.359281     NY
c -0.587729  2.653998  0.029560 -0.633547     WY
d  0.863062 -0.160468 -0.630913 -0.734411     OR
e  0.217760  0.769242 -0.015238 -0.200961     CO

In [18]:
df.set_index('states')

               x         y         z         w
states
CA     -0.830470 -0.086390  0.350443  0.162806
NY      0.546500 -2.440004 -0.580505  0.359281
WY     -0.587729  2.653998  0.029560 -0.633547
OR      0.863062 -0.160468 -0.630913 -0.734411
CO      0.217760  0.769242 -0.015238 -0.200961

In [19]:
df

          x         y         z         w states
a -0.830470 -0.086390  0.350443  0.162806     CA
b  0.546500 -2.440004 -0.580505  0.359281     NY
c -0.587729  2.653998  0.029560 -0.633547     WY
d  0.863062 -0.160468 -0.630913 -0.734411     OR
e  0.217760  0.769242 -0.015238 -0.200961     CO

Conditional Selection

In [20]:
df=df.drop('states',axis=1)

In [21]:
df

          x         y         z         w
a -0.830470 -0.086390  0.350443  0.162806
b  0.546500 -2.440004 -0.580505  0.359281
c -0.587729  2.653998  0.029560 -0.633547
d  0.863062 -0.160468 -0.630913 -0.734411
e  0.217760  0.769242 -0.015238 -0.200961

In [22]:
df>0

       x      y      z      w
a  False  False   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False  False
e   True   True  False  False

In [23]:
#dataframe

In [24]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [27]:
df= pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.728283  2.002535
   2  1.727805 -0.502993
   3  0.206359  1.078416
G2 1 -1.276581  0.093764
   2 -0.186812  0.720652
   3 -0.726579 -0.749396

In [32]:
df.loc['G1'].loc[1]

A   -0.728283
B    2.002535
Name: 1, dtype: float64

In [35]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -0.728283  2.002535
       2    1.727805 -0.502993
       3    0.206359  1.078416
G2     1   -1.276581  0.093764
       2   -0.186812  0.720652
       3   -0.726579 -0.749396

In [36]:
df.loc['G2'].loc[2]['B']

0.7206524763757222

In [39]:
df.loc['G2'].loc[2]['B']

0.7206524763757222

In [40]:
df.iloc[1]

A    1.727805
B   -0.502993
Name: (G1, 2), dtype: float64

In [43]:
df.iloc[4]

A   -0.186812
B    0.720652
Name: (G2, 2), dtype: float64